.usersStyle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.commentsStyle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.postssStyle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}